# Laboratory 2

### Narmin Garayeva 42088
### Gurbat Abdurrahmanov 42089

In [1]:
import pandas as pd

df = pd.read_csv('adult/adult.data')

df

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

- add column names in sequence: `age workclass fnlwg education education-num marital-status occupation relationship race sexcapital-gain capital-loss hours-per-week native-country income`

In [9]:
header3=['age', 'workclass', 'fnlwg', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 
         'race', 'sex','capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income' ]

df = pd.read_csv('adult/adult.data', index_col=False, header=None, names=header3)

df

,age,workclass,fnlwg,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

- create additional columns for `race` with get_dummies and display random 10 rows

In [10]:
df2 = pd.get_dummies(df, columns=['race'])

- display 10 sample rows of

In [11]:
df2.sample(3)

,age,workclass,fnlwg,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,income,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White
21591,43,Private,281138,HS-grad,9,Separated,Machine-op-inspct,Not-in-family,Female,0,0,40,United-States,<=50K,0,0,0,0,1
24570,34,Private,48014,Bachelors,13,Separated,Exec-managerial,Not-in-family,Female,0,0,35,United-States,<=50K,0,0,0,0,1
28204,41,Private,217902,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,40,United-States,>50K,0,0,0,0,1

- create additional columns for `race` with get_dummies with drop_first = True (to consider: why we drop the one column?)

In [13]:
df3 = pd.get_dummies(df, drop_first = True, columns=['race'])

df3.sample(3)

,age,workclass,fnlwg,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,income,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White
22899,48,Private,165267,10th,6,Married-civ-spouse,Farming-fishing,Husband,Male,0,0,40,United-States,<=50K,0,1,0,0
5911,22,Private,117210,Some-college,10,Never-married,Adm-clerical,Own-child,Male,0,0,25,Greece,<=50K,0,0,0,1
25694,43,Private,339814,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Male,5178,0,40,United-States,>50K,0,0,0,1

1. install https://scikit-learn.org/stable/install.html

2. restart jupyter-lab if needed

3. use sklearn to apply an encoder, for example LabelEncoder

- initialize sklearn

In [20]:
from sklearn import preprocessing
enc=preprocessing.LabelEncoder()

ModuleNotFoundError: No module named 'sklearn'

- use `fit_transform` function to create additional encoded column in dataset

In [ ]:
df3['sex_enc']=enc.fit_transform(df3['sex'])

- display sample rows

In [ ]:
df3.sample(5)

# 1. install docker

1. https://docs.docker.com/desktop/windows/install/ (windows restart will be needed)

2. when installator asks about installing linux kernel, then follow this step too

3. run tutorial steps

**expected end result:** you will end up with local application hosted as http://localhost with docker tutorial

#### links used:

https://docs.docker.com/get-started/overview/

https://geekflare.com/docker-vs-virtual-machine/

https://marici.io/wp-content/uploads/2020/08/Docker-Components.jpg

https://docs.microsoft.com/en-us/dotnet/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/life-cycle-containerized-apps-docker-cli.png

https://www.youtube.com/watch?v=_dfLOzuIg2o&t=18s

https://learnxinyminutes.com/docs/docker/

https://www.aquasec.com/cloud-native-academy/docker-container/

# 2. create a docker application

pre-reqs: create a dedicated folder for storing docker files below

In [ ]:
1.  create `app.py` file with any external text editor

print("my first app")

3. create `Dockerfile` with any external text editor

FROM python:alpine AS base
COPY /app.py .
CMD ["python", "app.py"]

4. build docker app (`docker build ...`)

docker build -t first-docker-app .

5. run the docker app (`docker run ...`)

docker run -it first-docker-app

**expected end result**

you should see that after running `docker images` in command line

# 3. create github.com account

1. https://ghcr.io/

2. create a token https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token
with Full control to private repos + write:packages

# 4. push your app to the registry

**login and push the repo**
- https://github.com/features/packages
- https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry#authenticating-to-the-container-registry

0. login

`PAT='your-token-here'`

`echo $PAT | docker login ghcr.io --username YOURGITHUBACCOUNTNAME --password-stdin`

1. tag your docker app (`docker tag first-docker-app ghcr.io/YOURGITHUBACCOUNTNAME/first-docker-app:1`)

2. push the app to the  registry (`docker push ghcr.io/YOURGITHUBACCOUNTNAME/first-docker-app:1`)

# 5. run you app directly from the registry


1. `docker run -name ... ghcr.io/...`

# 6. share your docker registry to the teacher to the git account `artursiarawsb`

1. go to you packages tab in github

2. enter into your package

3. go to Package settings on the right side menu

4. go to Invite teams or people and provide teachers's account name: artursiarawsb

# plan for the Lab3

1. github develompent, workflows, actions